@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color: #149ddd;
    --bg: #040b14;
    --wht: white;
    --pro-color: #08121f;
    --yellow: yellow;
}

/* header-top start */
header {
    background: linear-gradient(to top left, #EE8619 0%, #C85409 100%);
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 60vh;
    /* font-family: 'Poppins', sans-serif; */

}

header::before {
    content: "";
    position: absolute;
    background-image: url(/images/shop-cart-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -1;
}

.bg {
    z-index: 99;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 10px; */

}

.header-top-wrapper {
    display: flex;
    /* border: 1px solid ; */
    justify-content: space-between;
    align-items: center;
    width: 1160px;

}

ul {
    display: flex;
}

ul li {
    list-style: none;
    gap: 10px;
    margin-right: 20px;


}

ul li a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: var(--bg);
    font-family: "Pacifico", cursive;
}

ul li a i {

    margin-right: 5px;
    color: var(--wht);
}

.header-top-con a {
    color: var(--wht);
}

.header-top-social {
    /* width: 30%; */
    line-height: 32px;
    color: var();
    font-size: 16px;
    text-align: center;
    /* border: 2px solid var(--wht); */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    transition: all .5s ease-in-out;
    padding: 10px;
}

.header-top-social ul {
    display: flex;
}

.header-top-social span {
    margin-right: 40px;
}

.header-top-social ul li {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    /* background: #bebebe; */
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); */
    /* color: #d5660e; */
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;

}

.header-top-social span {
    color: var(--wht);
}

/* .header-top-social a i { */
/* color: var(--wht); */
/* color:  rgb(0, 0, 0); */
/* width: 35px;
    height: 35px; */
/* } */

/* header-top end */
.container1 {
    display: flex;
    /* border: 1px solid; */
    justify-content: space-evenly;
    margin-top: 20px;

}

.header-nav-left {
    display: flex;
    align-items: center;
}

.header-nav-right a {
    margin-right: 22px;
    padding: 30px 0 30px 0;
    font-size: 19px;
    font-weight: 600;
    color: var(--wht);
    text-transform: capitalize;
    letter-spacing: .8px;

    /* border: 1PX solid; */
}

.header-nav-left a img {
    width: 200px;
}

.header-nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 15px; */
    margin-left: 30px;
    font-size: 20px;
    gap: 37px;



}

.header-nav-right a {
    color: var(--wht);
}

.header-nav-right .signbutton a {
    text-decoration: none;
    border: 1px solid;
    padding: 17px;
    border-radius: 30px 0px 30px 0px;
    background-color: var(--yellow);
    color: #be4907;
}

/* ================================================ */
@media (max-width: 500px) {
    header {
        height: auto;
        padding: 20px 10px;
    }

    header::before {
        opacity: 0.05;

    }

    .header-top-wrapper {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .header-top-left,
    .header-top-right {
        width: 100%;
    }

    .header-top-left ul,
    .header-top-right .header-top-social ul {
        margin: 0;
        padding: 0;
        width: 95%;
        text-align: center;
    }

    .header-top-social span {
        display: none;
    }


    .header-top-left ul li,
    .header-top-right .header-top-social ul li {
        border: none;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .container1 {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        width: 100%;
        padding: 0 10px;
    }

    .header-nav-left {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        justify-content: center;
    }

    .header-nav-left a img {
        width: 150px;
        /* smaller logo */
        height: auto;
    }

    .header-nav-right {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 0;
        gap: 10px;
    }

    .header-nav-right ul {
        width: 100%;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    .header-nav-right ul li {
        width: 100%;
        text-align: center;
        width: 100%;

        margin-left: 5px;
    }

    .header-nav-right ul li a {
        display: block;
        padding: 10px 0;
        font-size: 16px;
        letter-spacing: 0.5px;
        font-family: "Pacifico", cursive;
    }

    .header-nav-right .search,
    .header-nav-right .addtocart,
    .header-nav-right .signbutton {
        /* width: 100%;
        text-align: center;
        margin-top: 10px; */
        display: none;
    }

    .header-nav-right .signbutton a {
        padding: 12px 25px;
        font-size: 14px;
        border-radius: 20px;

    }
}

/* Banner */
.banner {
    background: url('images/banner-bg.jpg') center/cover no-repeat;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    /* background-color: #ff9c00; */
}

.banner h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Nosifer", sans-serif;
}

.banner p {
    margin-top: 10px;
    font-family: "Pacifico", cursive;
}

/* Cart Section */
.cart-section {
    padding: 60px 80px;

}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.cart-table th,
.cart-table td {
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-family: "Pacifico", cursive;
}

.cart-table img {
    width: 60px;
    vertical-align: middle;
    margin-right: 15px;
}

.qty-box {
    display: inline-flex;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
}

.qty-box span {
    padding: 5px 10px;
    background: #fff6e5;
    color: #ff9c00;
    cursor: default;
}

.coupon {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.coupon input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex: 1;
}

.coupon button {
    background: #ff9c00;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-summary {
    margin-top: 30px;
    max-width: 300px;
    margin-left: auto;
    background: #fff6e5;
    padding: 20px;
    border-radius: 10px;

}

.cart-summary p,
.cart-summary h3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: "Pacifico", cursive;
}

.cart-summary h3 span {
    color: #e05500;
    font-weight: 700;
}

.checkout-btn {
    background: #ff9c00;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

/* Footer */
.honey-bee-footer {
    background-color: #F8F4ED;
    font-family: "Pacifico", cursive;
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 22%;
    min-width: 250px;
    margin-bottom: 30px;
    line-height: 1.6;
    padding-right: 15px;
}

.col-info {
    max-width: 300px;
}

.logo-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.footer-logo {
    width: 220px;
    height: 50px;
    margin-right: 10px;
}

.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    font-family: "Pacifico", cursive;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    color: #333;

}

.contact-item span {
    font-family: "Pacifico", cursive;
}

.icon-circle {
    width: 30px;
    height: 30px;
    background-color: #DA752F;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 16px;
}

.footer-heading {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    font-family: "Nosifer", sans-serif;
}

.footer-heading::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #DA752F;
    margin-top: 5px;
}

.footer-links {
    list-style: none;
    padding: 0;
    display: block;
}

.footer-links .col-newsletter {
    position: relative;
    padding-top: 50px;

}

.newsletter-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
    font-family: "Pacifico", cursive;
}

.newsletter-form input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.newsletter-form button {
    width: 100%;
    padding: 12px;
    background-color: #DA4F2F;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form button:hover {
    background-color: #b84020;
}

.newsletter-form button span {
    margin-left: 8px;
    font-size: 1.2em;
}

.flying-bee {
    position: absolute;
    top: -10px;
    right: 0;
    width: 223px;
    z-index: 1;
}

.honey-dipper-decor {
    position: absolute;
    bottom: 31px;
    left: 22px;
    width: 287px;
    transform: translateY(20%);
    z-index: 0;
}


@media (max-width: 576px) {
    .footer-col {
        width: 100%;
        min-width: 100%;
    }

    .flying-bee {
        display: none;

    }

    .honey-dipper-decor {
        display: none;
    }
}